<tr>
    <td id='item{{item.id}}'><img src="{{item.image}}" width="250" height="125"></img></td>
    <td id='name{{item.id}}'>{{item.name}}</td>
    <td id='desc{{item.id}}'>{{item.description}}</td>
    <td id='link{{item.id}}'>{{item.links}}</td>
    <td>
        <!-- <form action="{{ url_for('edit_item', item_id=item.id) }}" method = get>
            <input id='editButton' class ='btn btn-warning' type="submit" name="Edit" value="Edit" data-toggle="modal" data-target="#editModal"/>
          </form> -->
        <button id="{{item.id}}" type="button" class="btn editButton btn-warning" data-toggle="modal" data-target="#editModal">Edit</button>
    </td>
    <td>
        <button type="button" class="btn btn-danger">Remove</button>
    </td>
</tr>