<!DOCTYPE html>
<html>
  <head>
    <title>Admin Story</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1 align="center">Welcome to the Admin Menu</h2>
      <br>
		<div align="center">
			<input style='padding: 4px' class="btn btn-default" type="submit" value="View Users">
			<input style='padding: 4px' class="btn btn-default" type="submit" value="View Lists">
		</div>
		<div align="center">
			<a href="/login"><input style='padding: 4px' class="btn btn-default" type="submit" value="Sign out"></a>
		</div>
    </div>
  </body>py
</html>